# environment variables
.env

# virtual environment
venv

# pycharm config/data folders
.ipynb_checkpoints
.idea
__pycache__

# data files/dirs that will be specific for each instance
data/

# file included in order to maintain dir structure
!data/assets/black-line.png
!data/input/cover_letter_content/.gitkeep
!data/input/job_descrption/jd.son
!data/input/resume_input_sample.json
!data/logs/.gitkeep
!data/output/.gitkeep

# for loval devleopment only
.dev/
